<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account or login</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/9e3bcbb946.js" crossorigin="anonymous"></script>
</head>

<body class="font-sans bg-register-bg">

    <main class="bg-register-gradient h-auto md:h-[900px] m-8 p-8 border-2 rounded-3xl border-none bg-opacity-60 shadow-2xl">
        <div class="cont w-100% flex">
            <div class="img-inf w-50% text-white grid justify-items-center gap-8 p-20">
                <p class="text-2xl font-semibold">Lorem ipsum</p>
                <p class="text-xl font-semibold">Lorem ipsum dolor sit amet consectetur.</p>
                <img src="/app/static/img/Illustration 2.svg" alt="">
            </div>
            <div class="reg-form w-50% self-center p-20 pl-36">

                <div class="text flex justify-between pb-10">
                    <h3 class="font-semibold text-3xl text-white">Реєстрація</h3>
                    <a href="./login.html">
                        <p class="font-semibold text-white">Є аккаунт? Увійти</p>
                    </a>
                </div>
           
                <form action="#" method="post" id="registerForm" enctype="multipart/form-data" class="p-10">

                    <input class="bg-white w-full border-none border-2 rounded-lg border- p-2.5 m-2.5" type="login" id="login" name="login" placeholder="Login" required>

                    <input class="bg-white w-full border-none border-2 rounded-lg border- p-2.5 m-2.5" type="password" id="password" name="password" placeholder="Password" required>

                    <button type="submit" class="m-2.5 border-2 w-full rounded-2xl border-none bg-for-buttons cursor-pointer font-semibold p-2.5 text-white">Продовжити</button>

                </form>
            </div>
        </div>
    </main>
      

</body>